/* Variablen für die verschiedenen Farboptionen */
:root{
    --lightgray: lightgray;
    --silver: silver;
    --black: black;
    --gray: gray;
}

/* HTML Styling */
body {
    background-image: url("../img/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
    position: absolute;
    padding-inline: 30%;
}

.header > a {
    text-decoration: none;
    color: var(--black);
}

.image {
    font-weight: bold;
}

.image p {
    background-color: var(--lightgray);
    opacity: 0.7;
    border-radius: 5px;
}

.image img {
    height : 50px;
    width: 50px;
    transition: width 2s, height 2s, transform 2s;
}

.image:hover img {
    height : 75px;
    width : 75px;
    transform :scale();
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
    padding-top: 1em;

    list-style-type: none;
    margin: 0;
}

.navigation a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
    cursor: alias;
    color: var(--black);
    max-width: fit-content;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    background-color: var(--silver);
    text-align: center;
    opacity: 0.65;
    border-radius: 10px;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.footer {
    text-align: center;
    align-self: last baseline;
}

/* HTML Dropdown Styling */
nav.dropdown {
    margin: 1.5px;
}

.dropdown li {
    text-align: center;
    font-size: 1.2em;
    list-style-type: none;
    background: var(--silver);
}

/* HTML Dropdown Label Styling */
label {
    font-size: 1.3em;
    cursor: pointer;
    display: block;
    transition: transform 2s;
}

/* Dropdown Label icon Styling */
.icon_before:before {
    content : "\f107";
    font-family: FontAwesome;
    left: -5px;
    top: 0;
}

.icon_after:before {
    content : "\f106";
    font-family: FontAwesome;
    left: -5px;
    top: 0;
}

/* Slider Styling */
.slide {
    clear: both;
    height: 0px;
    overflow: hidden;
    transition: height .5s ease-in-out;
}

.slide li {
    padding: 15px;
    border-radius: 10px;
}

.slide a {
    color: var(--black);
    text-decoration: none;
}

/* Animations for the Dropdown Sliders */
#languages {
    position: absolute; 
    opacity: 0; 
}

#languages:checked + .slide {
    height: 260px;
}

#tools {
    position: absolute; 
    opacity: 0; 
    height: 0px;
}

#tools:checked + .slide {
    height: 210px;
}
#dlc {
    position: absolute; 
    opacity: 0; 
    height: 0px;
}
#dlc:checked + .slide {
    height: 110px;
}

/* Large Screens */
@media all and (min-width:800px){
    .about_me { flex: 3 0px;}
    .about_me {order: 1;}
    .aside-1 {order: 2;}
    .aside-2 {order: 3;}
    .footer {order: 4;}
}
/* Medium Screens */
@media all and (min-width: 600px) {
    .aside { display: flex 1;}
}
/* Medium Screens */
@media all and (max-width: 800px){
    .navigation {
        justify-content: space-around;
    }
}
/* Small Screens */
@media all and (max-width: 500px) {
    .navigation {
        flex-direction: column;
    }
}
