body {
    background-color: lightgray;
    }

.intro {
    text-align: center;
}

.intro > p {
    font-size: larger;
    line-height: 0.5;
}

.intro > h1 {
   word-spacing : 15px;
}

.about {
    padding: 15px;
    margin-left: 2%;
    border: 5px groove green;
    border-width: 3.5px 5px;
}

.about > h3 {
    line-height: 0.01;
    text-align: center;
}

.about > p {
    line-height: 1.4;
}