/* Variablen für die verschiedenen Farboptionen */
:root{
    --lightgray: lightgray;
    --green: #65ce65;
    --blue: #00b3f9;
    --orange: orange;
}

body {
    background-color: var(--lightgray);
    scroll-behavior: smooth;
    padding: 2em;
}

.icon img {
    height : 50px;
    width: 50px;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    list-style-type: none;
    margin: 0;
}

.navigation a {
    display: block;
    padding: 1em;
    padding: 10px;
    cursor: context-menu;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.wrapper > * {
    padding: 20px;
    flex: 1 100%;
}

.about_me {
    text-align:center;
    background: var(--blue);
}

.aside-1 {
    background: var(--green);
}

.aside-2 {
    background: hotpink;
}

.footer {
    background: red;
    text-align: center;
}
/* vvvvvvvvvvv Flex Einstellungen bei verschiedenen Bildschirmgrößen vvvvvvvvvvvvvv */
@media all and (min-width:600px){
    .aside {
        flex: 1;
    }
}

@media all and (min-width:800px){
    .about_me {order: 1;}
    .aside-1 {order: 2;}
    .aside-2 {order: 3;}
    .footer {order: 4;}
}

@media all and (max-width: 800px){
    .navigation {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    .navigation {
        flex-direction: column;
        padding: 0;
    }
}