/* Variablen für die verschiedenen Farboptionen */
:root{
    --lightgray: lightgray;
    --green: #65ce65;
    --silver: silver;
    --black: black;
}

/* Font-Awesome-Style-Settings */
.fa-angle-down {
    --fa-animation-iteration-count: 5;
    --fa-animation-timing: ease-in-out;
    --fa-animation-direction: reverse;
    cursor: pointer;
}

/* HTML Styling */
body {
    background-color: var(--lightgray);
    scroll-behavior: smooth;
    padding-inline: 25%;
    text-align: center;
}

.header a {
    text-decoration: none;
    color: var(--black);
}

.icon img {
    height : 50px;
    width: 50px;
    transition: width 2s, height 2s, transform 2s;
}

.icon:hover img {
    height : 75px;
    width : 75px;
    transform :scale();
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
    padding-top: 1em;

    list-style-type: none;
    margin: 0;
}

.navigation a {
    display: block;
    padding: 1em;
    cursor: alias;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.footer {
    text-align: center;
}

/* HTML Dropdown Styling */
nav.dropdown {
    margin: 1.5px;
    padding: auto;
    background: gray;
    user-select: none;
}

.dropdown li {
    padding: 40px;
    text-align: center;
    font-size: 1.2em;
    list-style-type: none;
    background: var(--silver);
}

span {
    font-size: 1.3em;
    cursor: pointer;
    display: block;
    transition: transform 2s;
}

/* Slider Styling */
.slide {
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height .5s ease-in-out;
}

.slide li {
    padding: 20px;
    margin-right: 60px;
}

.slide a {
    color: var(--black);
    text-decoration: none;
}

#languages {
    position: absolute; 
    opacity: 0; 
    height: 0px;
    width: auto;
}
#languages:checked + .slide {
    height: 310px;
}
#tools {
    position: absolute; 
    opacity: 0; 
    height: 0px;
}

#tools:checked + .slide {
    height: 195px;
}
#dlc {
    position: absolute; 
    opacity: 0; 
    height: 0px;
}
#dlc:checked + .slide {
    height: 150px;
}

/* Large Screens */
@media all and (min-width:800px){
    .about_me { flex: 3 0px;}
    .about_me {order: 1;}
    .aside-1 {order: 2;}
    .aside-2 {order: 3;}
    .footer {order: 4;}
}
/* Medium Screens */
@media all and (min-width: 600px) {
    .aside { display: flex 1;}
}
/* Medium Screens */
@media all and (max-width: 800px){
    .navigation {
        justify-content: space-around;
    }
}
/* Small Screens */
@media all and (max-width: 500px) {
    .navigation {
        flex-direction: column;
    }
}